
/* listening site */
.listening__site--button{
    font-size: 100px;
    padding: 24px 83px;
    border-radius: 45px;
    border: none;
    transition: all .5s;
    cursor: pointer;
}

.listening__site--button:hover{
    background-color: rgb(209, 201, 234);
}


