.video {
    margin-top: 80px;
    max-width: 1300px;
}

.video__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframe {
    border-radius: 5px;
}

.video__wrapper {
    margin-bottom: -50px;
}

.practice3__text {
    display: flex;
    justify-content: space-between;
}